/* CSS Document */
*{margin:0; padding:0}
img{border:0; vertical-align:top}
ul,ol{list-style:none}
body{font-family:"돋움"; font-size:14px; color:#333333}

.tabs {position:relative;border:1px solid #ccc; width:600px;}
.tabs a.tab {display:block; float:left; width:84px; height:22px; text-indent:-999px;
        overflow:hidden; position:absolute}
.tabs a.tab1{background:url(images/tab1.jpg);left:0; top:0}
.tabs a.tab2{background:url(images/tab2.jpg);left:84px; top:0}
.tabs a.tab3{background:url(images/tab3.jpg);left:168px; top:0}

.tabs .contlist {display:none; margin-top:22px;
    padding:15px;line-height:1.5em; background:#CCF} 
