#wrap{overflow: hidden}
header{height:65px; background:#3264c8; overflow: hidden}
.main_logo{display: block;background: url(../../images/Logo_640.png)no-repeat;width:200px; height:36px; text-indent:-9999px;
overflow:hidden; margin: 15px auto;}
#sideLeft_menu{display: block; background: url(../../images/navibtn_640.png) no-repeat; width:65px; height:65px;
text-indent:-9999px; overflow:hidden; position:absolute; top:0; left:0;}

/*header end*/
*{margin:0; padding:0;}
a{text-decoration:none; color:#666}
a:hover{color:#690}
/*article*/

.route{width:97%; height:20px; background: #141450; padding: 3px 3%;}
.route span{color:#fff}
.route img{margin-top:3px;}
.content{padding:30px 23px}
h3.subtitle{display: block; margin-bottom: 30px; font-size: 30px;}

h4{font-size: 18px; margin-bottom: 15px;color: #32b332}
.content p{margin-bottom: 30px}
.content dt{font-weight: bold; margin-bottom: 15px;color: #6ac9e7}
.content dd{margin-bottom: 20px;}
.item{overflow: hidden; margin: 40px 0;}
.item li{float: left; width:26%; margin-right: 10%}
.item .item_last{margin-right:0}
/*article end*/
/*mpp canvas*/
#map_canvas{width:100%; height:350px; border:1px solid #ccc}

.location{margin: 40px 0;padding: 10px}
.location li{padding: 10px 0;}
.location dl{overflow: hidden;}
.location dt{color:#32B432; font-weight: bold}
.location dd{float: left;width: 80%;}
.location .address{width: 20%;float: left;}
.location .tel{width: 20%; float: left;}
.location .fax{width: 20%; float: left;}
.bus .bus_title{color:#32B432; font-weight: bold; width: 100%}

.bus dl{overflow: hidden; margin-bottom: 15px}
.bus .bus_tit{display:block;width: 20%;float: left;color:#3264C8}
.bus .bus_con{display:block;float: left;color:#666;font-weight:normal;width: 80%;}

.subway .subway_title{margin-bottom: 15px}
.subway dd{overflow: hidden;}
.subway .subway_con{display:block; color:#666;font-weight:normal;width: 80%;float: left;}
.subway .subway_tit{display:block; color:#3264C8; width: 20%;float: left;}
/*mpp canvas end*/
/*footer*/
footer{height:120px;position:relative;}
footer .footercon{background: #333;width: 80%;height:80px; position:absolute; bottom:0;padding: 20px 10%;z-index:3;}
footer .footercon p{text-align:center;color:#999;}
footer .footercon .footlink{color:#999;}
footer .footercon .footlink:active{color:#666;}
footer .footercon .copy{font-size: 11px; color:#666; margin-top:10px;}
/*sitemap-fullnav*/

 div.fullNav{width:100%; height:150px; position:absolute;
     bottom: -150px; left:0;
	 background:rgba(255, 255, 255, .8);border-top: 1px solid #2b68a7;font-family:Arial, Helvetica, sans-serif;
	 font-size:12px;z-index:2;}
 ul.fullNavUl{margin-top: 5px;}
 ul.fullNavUl_01{overflow: hidden;width:250px;margin: 0 auto;}
 ul.fullNavUl_02{overflow: hidden;width:175px;margin: 0 auto;}
 li.fullNavMenu{float:left; padding:10px 13px;text-align: center;}
 li.fullNavMenu h3{display: block;}
  li.fullNavMenu h3 a{font-weight: bold; color:#004DFF;}
 li.fullNavMenu ul{margin-top:10px; line-height:150%;}
 .fullNav a{color:#333; text-decoration:none;}
 span{font-weight:bold; color:#FFF; cursor:pointer}
/*sitemap-fullnav end*/
/*footer end*/
/*sidemenu*/
#menu .search{overflow:hidden; margin:5px auto 50px; width:80%;}
#menu .search #searchbox{display:block;height: 19px;border: 1px solid #ccc; padding: 3px 2%;float:left; width:74%;color: #eee}
#menu .search #search_btn{display:block; border:none; width:20%; height:27px;
background:url(../../images/searchbtn.png) no-repeat center center #67c672;
text-indent:-999999px; overflow: hidden; float: left; }
#menu li{right:5px; padding:0 30px;}
#menu li .mainmenu{border-bottom: 2px solid #20206b;font-weight: bold}
#menu li dd{ padding: 10px 20px; background: #12123d;border-bottom: 1px solid #0e0e2b}
/*sidemenu end*/
/*top_slide*/
   *{margin:0; padding:0}
   ul{list-style:none}
   img{border:0}

   .topbtn #toTop{display:block;width:100%;height:20px;background: #141450; text-align: center;padding: 10px 0;overflow:hidden;z-index: 5;}
/*top_slide end*/
@media screen and (max-width:480px) {
h3.subtitle{display: block;margin-bottom: 30px;font-size: 25px}
 header{height:45px;overflow: hidden;}
 .main_logo{display: block;background: url(../../images/Logo_480.png);width:130px; height:23px; text-indent:-9999px;
 overflow:hidden; margin: 10px auto;}
 #sideLeft_menu{display: block; background: url(../../images/navibtn_480.png) no-repeat; width:45px; height:45px;
 text-indent:-9999px; overflow:hidden; position:absolute; top:0; left:0;}
 }
