#wrap{overflow: hidden}
header{height:65px; background:#3264c8; overflow: hidden}
.main_logo{display: block;background: url(../../images/Logo_640.png) no-repeat;width:200px; height:35px; text-indent:-9999px;
overflow:hidden; margin: 15px auto;}
#sideLeft_menu{display: block; background: url(../../images/navibtn_640.png) no-repeat; width:65px; height:65px;
text-indent:-9999px; overflow:hidden; position:absolute; top:0; left:0;}

/*header end*/
*{margin:0; padding:0;}
a{text-decoration:none; color:#666}
a:hover{color:#690}
/*article*/

.route{width:97%; height:20px; background: #141450; padding: 3px 3%;}
.route span{color:#fff}
.route img{margin-top:3px;}
.content{padding:30px 3px}
h3.subtitle{display: block; margin-left: 23px;margin-bottom: 30px; font-size: 30px;}

form {
	counter-reset: fieldsets;
  margin: 20px 0;
}


form fieldset {
	border: 1px solid #ccc;
	margin-bottom: 10px;
}

form fieldset:last-of-type {
	margin-bottom: 0;
}

form legend {
	color: #384313;
	font-size: 16px;
	font-weight: bold;
	padding-bottom: 10px;
	text-shadow: 0 1px 1px #c0d576;
}

form > fieldset > legend:before {
	content: "Step " counter(fieldsets) ": ";
	counter-increment: fieldsets;
}

form fieldset fieldset legend {
	color: #111111;
	font-size: 13px;
	font-weight: normal;
	padding-bottom: 0;
}

form ol li {
	background: #b9cf6a;
	background: rgba(255,255,255,.3);
	border-color: #e3ebc3;
	border-color: rgba(255,255,255,.6);
	border-style: solid;
	border-width: 2px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	line-height: 30px;
	list-style: none;
	padding: 5px 10px;
	margin-bottom: 2px;
}

form ol ol li {
	background: none;
	border: none;
	float: left;
}

form label {
	float: left;
	font-size: 13px;
	width: 110px;
}

form fieldset fieldset label {
	background:none no-repeat left 50%;
	line-height: 20px;
	padding: 0 0 0 30px;
	width: auto;
}


form fieldset fieldset label:hover {
	cursor: pointer;
}



form input:not([type=radio]) {
	background: #ffffff;
	border: 1px solid #ccc;;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
	font: italic 13px 맑은고딕,굴림,돋움;
	outline: none;
	padding: 5px;
	width: 200px;
}

form input:not([type=submit]):focus, {
	background: #eaeaea;
}

.submitbtn{border: none}
form button {
	background: #2b68a7;
	border: none;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius:5px;
	color: #ffffff;
	display: block;
	letter-spacing: 1px;
	margin: auto;
	padding: 7px 25px;
	text-transform: uppercase;
}

form button:hover {
	background:#2b68a7;
	cursor: pointer;
}
.lettertNotice01{background:#ddd; padding:10px; margin-top: 20px}
.requestNotice02{background: rgba(200, 200, 200, .5); padding:10px; border: 1px solid #999; border-radius: 5px;}
.requestNotice02 span{color:#333}
#checkbox{width:20px;margin-right: 5px}
/*form end*/
/*select*/
/* Select */
.select{ position:relative; line-height:normal; display:inline-block; border: 1px solid #ccc; vertical-align:middle; background:#fff; }
.select *{ margin:0; padding:0; cursor:pointer; font-size:12px; font-family:Tahoma, Sans-serif;}
.select .myValue{ position:relative; z-index:2; left:0; top:0; color:#666; line-height:19px; _line-height:normal; text-align:left; overflow:visible; background:transparent;}
.select .myValue.selected{ font-weight:bold;}
.select.open .myValue,
.select button.myValue{ height:21px; width:100%; text-indent:5px; *text-indent:0; *padding-left:5px;}
.select div.myValue{ height:19px; text-indent:8px;}
.select .ctrl{ position:absolute; top:0; right:0; width:18px; height:19px;border-left:1px solid #eaeaea; background:#fff;}
.select .arrow{ position:absolute; width:0; height:0; top:9px; right:6px; line-height:0; font-size:0; border-top:3px solid #999; border-left:3px solid #fff; border-right:3px solid #fff;}
.select ul{ position:absolute; top:20px; left:0; width:100%; list-style:none; border:0; border-top:1px solid #bababa; border-bottom:1px solid #bababa; background:#fff; overflow:hidden;}
.select ul.aList{ display:none;}
.select.open ul.aList{ display:block;}
.select ul.iList{ left:-2000%;}
.select.open ul.iList{ left:0;}
.select li{ position:relative; overflow:hidden; white-space:nowrap; height:18px; border-left:1px solid #bababa; border-right:1px solid #bababa;}
.select li input.option{ position:absolute; width:100%; height:20px; line-height:20px;}
.select li label{ position:absolute; left:0; top:0; width:100%; text-indent:8px; *text-indent:6px; height:18px; line-height:18px; color:#767676; background:#fff;}
.select li a{ display:block; text-indent:8px; *text-indent:6px; height:18px; line-height:18px; color:#767676; background:#fff; text-decoration:none;}
.select li.hover *{ background:#999; color:#fff;}
/*select_end*/
/*article end*/

/*footer*/
footer{height:140px;width: 100%;position:fixed;bottom:0;}
footer .footercon{background: #333;width: 80%;height:80px; position:absolute;padding: 10px 10%;z-index:3;}
footer .footercon p{text-align:center;color:#999;}
footer .footercon .footlink{color:#999;}
footer .footercon .footlink:active{color:#666;}
footer .footercon .copy{font-size: 11px; color:#666; margin-top:10px;}

 span{font-weight:bold; color:#FFF; cursor:pointer}
/*footer end*/
/*sidemenu*/
#menu .search{overflow:hidden; margin:5px auto 50px; width:80%;}
#menu .search #searchbox{display:block;height: 19px;border: 1px solid #ccc; padding: 3px 2%;float:left; width:74%;color: #eee}
#menu .search #search_btn{display:block; border:none; width:20%; height:27px;
background:url(../../images/searchbtn.png) no-repeat center center #67c672;
text-indent:-999999px; overflow: hidden; float: left; }
#menu li{right:5px; padding:0 30px;}
#menu li .mainmenu{border-bottom: 2px solid #20206b;font-weight: bold}
#menu li dt{ padding: 10px 20px; border-bottom: 2px solid #20206b; font-weight: bold}
#menu li dd{ padding: 10px 20px; background: #12123d;border-bottom: 1px solid #0e0e2b}

/*sidemenu end*/
/*top_slide*/
.topbtn #toTop{display:block;width:100%;height:20px;background: #141450; text-align: center;padding: 10px 0;overflow:hidden;z-index: 5;}
/*top_slide end*/
@media screen and (max-width:480px) {
h3.subtitle{display: block;margin-bottom: 30px;font-size: 25px}
 header{height:45px;overflow: hidden;}
 .main_logo{display: block;background: url(../../images/Logo_480.png);width:130px; height:23px; text-indent:-9999px;
 overflow:hidden; margin: 10px auto;}
 #sideLeft_menu{display: block; background: url(../../images/navibtn_480.png) no-repeat; width:45px; height:45px;
 text-indent:-9999px; overflow:hidden; position:absolute; top:0; left:0;}
 }
